<h1><%= @county.name %></h1>

<img src="https://www.thesprucepets.com/thmb/kV_cfc9P4QWe-klxZ8y--awxvY4=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/adorable-white-pomeranian-puppy-spitz-921029690-5c8be25d46e0fb000172effe.jpg">

<h3>Total Cases</h3>
<%= line_chart @cases_by_date %>

<h3>New Cases</h3>
<%= column_chart @new_cases_by_date %>
